<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h1>ChapterONE</h1>
      <p>Pronto para escrever em ouro?</p>
    </div>

    <form (submit)="onLogin()" class="login-form">
      <!--espacinho pro username-->
      <div class="form-group">
        <label for="username"> Utilizador </label>
        <input
          type="text"
          id="username"
          [(ngModel)]="loginData.username"
          name="username"
          placeholder="Username"
          [class.input-error]="loginError"
          required
        />
      </div>

      <!--espacinho pra pass-->
      <div class="form-group">
        <label for="password"> Password </label>
        <input
          type="password"
          id="password"
          [(ngModel)]="loginData.passwordHash"
          name="password"
          placeholder="password"
          [class.input-error]="loginError"
          required
        />
      </div>

      <button type="submit" class="btn-login">Login</button>

      <p *ngIf="loginError" style="color: #ef4444; font-size: 0.8rem; text-align: center; margin-top: -1rem">
        Inválido
      </p>
    </form>

    <div class="login-footer">
      <p>Ainda não pegaste na caneta? <a routerLink="/register">Regista-te aqui!</a></p>
    </div>
  </div>
</div>
