.login-overlay {
  // Isto faz com que a página tape a sidebar e o header
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, #191970 0%, #0a0a23 100%);
  z-index: 9999;

    .login-card {
    background: white;
    width: 100%;
    max-width: 420px;
    padding: 50px 40px;
    border-radius: 28px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.4);
    text-align: center;
    }

    .login-header {
      margin-bottom: 35px;

      .logo-box {
        width: 55px;
        height: 55px;
        background: #0a0a23;
        color: white;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        margin: 0 auto 15px;
      }

      h1 { color: #0a0a23; font-size: 1.8rem; margin: 0; }
      p { color: #888; font-size: 0.9rem; margin-top: 5px; }
    }

    .login-form {
      .input-field {
        text-align: left;
        margin-bottom: 20px;

        label {
          display: block;
          font-weight: 600;
          font-size: 0.8rem;
          margin-bottom: 8px;
          color: #444;
        }

        input {
          width: 100%;
          padding: 14px;
          border: 2px solid #f0f0f0;
          border-radius: 12px;
          outline: none;
          transition: border-color 0.3s;
          &:focus { border-color: #191970; }
        }
      }

      .btn-submit {
        width: 100%;
        padding: 16px;
        background: #0a0a23;
        color: white;
        border: none;
        border-radius: 12px;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 10px;
        transition: transform 0.2s;

        &:hover {
          background: #191970;
          transform: translateY(-2px);
        }
      }

      .login-footer {
        margin-top: 25px;
        font-size: 0.85rem;
        color: #777;
        span { color: #191970; font-weight: 700; cursor: pointer; }
      }
    }
}